
.nav, .nav li, .nav a, .nav2, .nav2 li, .nav2 a, .nav3, .nav3 li {
    float: left;
    margin: 0;
    padding: 0;
}
.nav, .nav2 {
    width: 100%;
}
.nav li {
    border-radius: 3px 3px 0 0;
    font-size: 0.9333em;
    line-height: 100%;
    list-style: none outside none;
    margin-right: 2px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    top: 6px;
    z-index: 1;
}
.nav li.current {
    border: medium none;
    font-weight: bold;
    position: relative;
    top: 3px;
    z-index: 1;
}
.nav a {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #CCCCCC;
    color: #999999;
    letter-spacing: -0.02em;
    padding: 10px 19px 13px;
    text-decoration: none;
}
.nav li.current a {
    background: none repeat scroll 0 0 #5BC6E8;
    border: medium none;
    color: #FFFFFF;
    padding-bottom: 9px;
    padding-top: 15px;
}
.nav2 {
    background-color: #5BC6E8;
    display: block;
    float: left;
    margin: 0;
    width: 940px;
}
.nav2 li {
    font-size: 0.9em;
    list-style: none outside none;
    margin-top: 0;
}
.nav2 li a {
    color: #FFFFFF;
    margin: 0 0 0 12px;
    padding: 15px 0 0;
    text-decoration: none;
}
.nav2 li.current a, .nav2 li a:hover {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px dotted #FFFFFF;
    color: #FFFFFF;
    display: block;
    margin-bottom: 6px;
}
.nav2 li a:hover {
}
.nav3 {
    margin: 0 auto;
    position: relative;
    top: 45px;
    width: 791px;
}
.nav3 ul {
    float: right;
}
.nav3 li {
    border-radius: 5px 5px 5px 5px;
    color: #CCCCCC;
    font-size: 1.2em;
    list-style: none outside none;
    margin-right: 1px;
    padding: 3px;
}
.nav3 li span {
    border-radius: 12px 12px 12px 12px;
    float: left;
    margin-right: 0;
    padding: 0 3px;
    position: relative;
}
.nav3 li.current span {
    background: none repeat scroll 0 0 #FF9900;
    border: 1px solid #FF9900;
    color: #FFFFFF;
}
span.text {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.button-holder {
}
.button-holder p em {
    float: left;
    text-align: center;
    width: 610px !important;
}
.pagos .button-holder {
    width: 600px;
}
.button-holder.v2 {
}
.link2 {
    color: #0085B2;
}
.buttons {
    border-radius: 3px 3px 3px 3px;
    float: right;
    font-size: 1.3em;
    margin-left: 10px;
    padding: 9px 11px;
    text-decoration: none;
}
.button1, .button4, .button7 {
    background-color: #FFCC00;
    border-color: #DAB705;
    border-style: solid;
    border-width: 1px;
    color: #414141;
}
.button4 {
}
.button2 {
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0 0 0 0;
    color: #999999;
    margin-top: 12px;
    padding: 0;
}
.button2:hover {
}
.button3 {
    background: url("../images/icons.png") no-repeat scroll -143px -391px rgba(0, 0, 0, 0);
    color: #666666;
    float: right;
    font-size: 0.8em;
    margin-bottom: 9px;
    padding-left: 20px;
    text-decoration: none;
}
.button3:hover {
    text-decoration: underline;
}
.button5 {
    background: url("../images/icons.png") no-repeat scroll -139px -429px rgba(0, 0, 0, 0);
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -999px;
    width: 21px;
}
.button6 {
    background-color: #FFC62D;
    border-color: #DFA917;
    border-style: solid;
    border-width: 1px;
    color: #745304;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.7333em;
    font-weight: bold;
    text-transform: uppercase;
}
.button4:hover, .button6:hover, .button7:hover {
    background-color: #D4990A;
}
.button7 {
    margin-bottom: 20px;
}
.nav a, .current a {
    background-color: #FFFFFF;
}
.nav a:hover, .nav a:hover {
    background-color: #37A8CD;
    color: #FFFFFF;
}
.nav {
    position: relative;
    z-index: 1;
}
.nav3 li span.txt {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    color: #CCCCCC;
}
.nav3 li.current span.txt {
    color: #666666;
    margin-top: 1px;
}
#send_single {
}
