.nav, .nav li, .nav a, .nav2, .nav2 li, .nav2 a, .nav3, .nav3 li {
	float: left;
	margin: 0;
	padding: 0;
}
.nav, .nav2 {
	width: 100%;
}
.nav li {
	list-style: none;
	text-decoration: none;
	border: solid 1px #BDBDAE;
	margin-right: 10px;
	position: relative;
	top: 1px;
	z-index: 2;
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
.nav li.current {
	border-bottom: #fff 1px solid;
	z-index: 3;
}
.nav a {
	color: #666;
	text-decoration: none;
	background: #ddd;
	padding: 5px 14px 4px;
}
.nav li.current a {
	background: #fff;
	color: #000;
}
.nav2 {
	margin: 0 0 30px;
}
.nav2 li {
	list-style: none;
	margin-right: 15px;
}
.nav2 li a {
	text-decoration: none;
	color: #666;
	background: url(../images/icons.png) no-repeat -144px -270px;
	padding: 1px 0 3px 21px;
}
.nav2 li.current a {
	background: url(../images/icons.png) no-repeat -144px -235px;
}
.nav2 li a:hover {
	text-decoration: underline;
}
.nav3 {
	float: left;
	width: 100%;
	background: #F4F4F4;
	margin-bottom: 25px;
}
.nav3 ul {
	width: 630px;
	margin: 0 0 0 105px;
}
.nav3 li {
	list-style: none;
	width: 207px;
	padding: 7px 0 1px;
}
.nav3 li span {
	background: none;
	border: 1px solid #ccc;
	float: left;
	color: #ccc;
	border-radius: 4px;
	margin-right: 7px;
	padding: 3px 9px 2px;
	position: relative;
	top: -3px;
}
.nav3 li.current span {
	background: #f90;
	border: 1px solid #f90;
	color: #fff;
}
.button-holder {
	float: left;
	width: 100%;
}
.button-holder.v2 {
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}
.link2 {
	color: #0085B2;
}
.buttons {
	padding: 5px 28px;
	float: right;
	text-decoration: none;
	margin-left: 10px;
}
.button1 {
	background-image:-moz-linear-gradient(rgb(255,153,0) 0%,rgb(255,153,0) 1%,rgb(255,102,0) 100%); 
	background-image:-webkit-gradient(linear,color-stop(0, rgb(255,153,0)),color-stop(0.01, rgb(255,153,0)),color-stop(1, rgb(255,102,0)));
	background-image:-webkit-linear-gradient(rgb(255,153,0) 0%,rgb(255,153,0) 1%,rgb(255,102,0) 100%);
	background-image:-o-linear-gradient(rgb(255,153,0) 0%,rgb(255,153,0) 1%,rgb(255,102,0) 100%);
	background-image:-ms-linear-gradient(rgb(255,153,0) 0%,rgb(255,153,0) 1%,rgb(255,102,0) 100%);
	background-image:linear-gradient(rgb(255,153,0) 0%,rgb(255,153,0) 1%,rgb(255,102,0) 100%);
	border-color:rgb(255,102,51);
	border-width:1px;
	border-style:solid;
	color: #fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff9900,endColorstr=#ffff6600)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff9900,endColorstr=#ffff6600);
}
.button2 {
	background-image:-moz-linear-gradient(32% 0% -90deg,rgb(204,204,204) 0%,rgb(153,153,153) 100%); 
	background-image:-webkit-gradient(linear,32% 0%,32% 109%,color-stop(0, rgb(204,204,204)),color-stop(1, rgb(153,153,153)));
	background-image:-webkit-linear-gradient(-90deg,rgb(204,204,204) 0%,rgb(153,153,153) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(204,204,204) 0%,rgb(153,153,153) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(204,204,204) 0%,rgb(153,153,153) 100%);
	background-image:linear-gradient(-90deg,rgb(204,204,204) 0%,rgb(153,153,153) 100%);
	border-color:rgb(63,164,194);
	border-width:1px;
	border-style:solid;
	color: #fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcccccc,endColorstr=#ff999999,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcccccc,endColorstr=#ff999999,GradientType=0);
}
.button3 {
	background: url(../images/icons.png) no-repeat -143px -391px;
	float: right;
	text-decoration: none;
	padding-left: 20px;
	color: #666;
}
.button3:hover {
	text-decoration: underline;
}
.button4 {
	background-image:-moz-linear-gradient(68% 0% -90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%); 
	background-image:-webkit-gradient(linear,68% 0%,68% 109%,color-stop(0, rgb(76,196,231)),color-stop(1, rgb(51,153,255)));
	background-image:-webkit-linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	background-image:linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	border-color:rgb(63,164,194);
	border-width:1px;
	color: #fff;
	border-style:solid;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4cc4e7,endColorstr=#ff3399ff,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4cc4e7,endColorstr=#ff3399ff,GradientType=0);
}
.button5 {
	background: url(../images/icons.png) no-repeat -139px -429px; 
	width: 21px;
	height: 20px;
	text-indent: -999px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.button6{
	background-image:-moz-linear-gradient(68% 0% -90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%); 
	background-image:-webkit-gradient(linear,68% 0%,68% 109%,color-stop(0, rgb(76,196,231)),color-stop(1, rgb(51,153,255)));
	background-image:-webkit-linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	background-image:linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	border-color:rgb(63,164,194);
	border-width:1px;
	color: #fff;
	border-style:solid;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4cc4e7,endColorstr=#ff3399ff,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4cc4e7,endColorstr=#ff3399ff,GradientType=0);
    color: #FFFFFF;
	cursor:pointer;
	font-size:1.033em;
	font-family:Arial, Helvetica, sans-serif;

}

.button7{
	background-image:-moz-linear-gradient(68% 0% -90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%); 
	background-image:-webkit-gradient(linear,68% 0%,68% 109%,color-stop(0, rgb(76,196,231)),color-stop(1, rgb(51,153,255)));
	background-image:-webkit-linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	background-image:linear-gradient(-90deg,rgb(76,196,231) 0%,rgb(51,153,255) 100%);
	border-color:rgb(63,164,194);
	border-width:1px;
	color: #fff;
	border-style:solid;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4cc4e7,endColorstr=#ff3399ff,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4cc4e7,endColorstr=#ff3399ff,GradientType=0);
    color: #FFFFFF;
	cursor:pointer;
	font-size:1.333em;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 20px;

}