
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
    text-align: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
