
@import "default.css";
@import "text.css";
@import "form.css";
@import "table.css";
@import "button.css";
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F9F9F9;
}
table {
    font-family: Arial,Helvetica,sans-serif;
}
a {
    color: #013D61;
}
#wrap {
    margin: 0 auto;
    position: relative;
    width: 940px;
}
header {
    float: left;
    padding: 40px 0 10px;
    width: 100%;
}
.nav ul {
    float: left;
    margin: 0;
    padding: 0;
}
#main-content {
    float: left;
    margin-bottom: 13px;
    position: relative;
    width: 940px;
}
.inner {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    width: 100%;
}
span#msgbox{
	background-color: #FFEBB6;
    border: 1px solid #E0C479;
    border-radius: 3px 3px 3px 3px;
    color: #666;
	}
#sidebar {
}
footer {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
footer dl, footer dt, footer dd {
    float: left;
    margin: 0;
    padding: 0;
}
footer dl {
    font-size: 1.467em;
    padding: 3px 0;
}
footer dt {
    font-weight: 600;
}
footer dt, footer dd {
    border-right: 1px solid #CCCCCC;
    padding: 8px 40px 5px;
}
footer dd.pos {
    background: url("../images/icons.png") no-repeat scroll -130px -124px rgba(0, 0, 0, 0);
}
footer dd.pos2 {
    background: url("../images/icons.png") no-repeat scroll -130px -160px rgba(0, 0, 0, 0);
}
footer dd.pos3 {
    background: url("../images/icons.png") no-repeat scroll -126px -193px rgba(0, 0, 0, 0);
    border: 0 none;
    padding-right: 0;
}
.footerinfo p {
    font-size: 1.2em;
    text-align: center;
}
.logo {
    float: left;
    height: 41px;
    width: 386px;
}
.logo a {
    background: url("../images/logo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 100%;
    overflow: hidden;
    text-indent: -999px;
    width: 100%;
}
.search {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C6C6C6;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.09) inset;
    float: right;
    position: absolute;
    right: 0;
    top: 100px;
}
.search input[type="text"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    font-size: 1.367em;
    padding: 6px;
    width: 200px;
}
.search input[type="submit"] {
    background: url("../images/icons.png") no-repeat scroll -146px -35px rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    float: right;
    height: 15px;
    margin: 8px 7px 0 0;
    overflow: hidden;
    text-indent: -999px;
    width: 14px;
}
.user-log {
    float: right;
}
.user-log p {
    color: #444444;
    float: left;
    margin: 0 0 0 15px;
}
.user-log p.button-holder {
    width: auto;
}
.user-log p.button-holder a {
    background: url("../images/icons.png") no-repeat scroll -144px 0 rgba(0, 0, 0, 0);
    color: #666666;
    padding-left: 20px;
    text-decoration: none;
}
.user-log p.button-holder a:hover {
    text-decoration: underline;
}
.content {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}
.content .inner {
    background-color: #FFFFFF;
    float: left;
    padding-bottom: 40px;
    z-index: 100;
}
.content2 {
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
    float: left;
    padding: 24px;
}
.content2 .inner {
    padding: 10px;
}
.content2 p {
    background: url("../images/icons.png") no-repeat scroll -149px -509px rgba(0, 0, 0, 0);
    float: left;
    font-size: 1.167em;
    padding-left: 20px;
}
.block {
    display: block;
    margin: 0 auto;
    width: 630px;
}
.block2 {
    float: left;
    margin-bottom: 50px;
    margin-left: 156px;
    width: 630px;
}
.block2 h2 {
}
.block2 p {
}
.block2 dl {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    font-size: 1.667em;
    height: 40px;
    line-height: 40px;
    margin: 4px auto 19px;
    text-align: right;
    width: 628px;
}
.block2 dt {
    float: left;
    margin-left: 10px;
    text-align: right;
}
.block2 dd {
    border-left: 1px solid #CCCCCC;
    color: #424343;
    float: right;
    margin-right: 10px;
    padding-left: 26px;
    text-align: center;
    width: 22%;
}
.block3 {
    background-color: #FFEBB6;
    border: 1px solid #E0C479;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    float: right;
    margin: 0;
    padding: 10px 20px 0;
}
.block3.acceso {
    position: absolute;
    right: 22px;
    top: 65px;
    width: 318px;
}
.block3 h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
}
.block3 p {
    font-size: 1.2em;
}

.accord .block2 {
    margin: 0;
}

.accord2 {
    margin-bottom: 20px;
    width: auto;
}
.accord h4 span, .accord2 h4 span {
    background: url("../images/icons.png") no-repeat scroll -139px -469px rgba(0, 0, 0, 0);
    float: right;
    height: 22px;
    margin: -2px 5px;
    width: 22px;
}
.accord2 h4, .accord h4 {
    background-color: #F6F6F6;
    border: 1px solid #CCCCCC;
    color: #414141;
    cursor: pointer;
    font-size: 1.6em;
    font-weight: normal;
    padding: 10px;
    width: 609px;
}


.accord3 .block2, .accord2 div .block2   { margin-left:0;}
.accord3 h4 {
    background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    line-height: 100%;
    padding: 9px 9px 3px;
    width: 609px;
}

.accord3 h4:hover{
	background:#eee;
	}

h4.active { border:1px solid #E0C479 ;background:none repeat scroll 0 0 #FFEBB6; }

h4.active:hover{background:#fce5a9;}

.accord3 h4 span {
    float: left;
    height: 26px;
}
.accord3 h4.active span {
    background-position: 0 -223px;
}
.accord h4.active span, .accord2 h4.active span {
    background: url("../images/icons.png") no-repeat scroll -138px -308px rgba(0, 0, 0, 0);
}
.accord h4 + div, .accord2 h4 + div, .accord3 h4 + div {
    display: none;
}
.accord h4.active, .accord h4:hover {
    background-color: #F1F1F1;
    color: #636363;
    font-size: 1.6em;
    /*font-weight: bold;*/
    padding: 10px;
    width: 609px;
}
.accord h4.active + div, .accord2 h4.active + div, .accord3 h4.active + div {
    display: block;
    float: left;
}
.pagos {
    border: 1px solid #CCCCCC;
    margin: 0 auto 20px;
    overflow: hidden;
    padding: 30px 15px 15px;
    position: relative;
    width: 600px;
}
.pagos h4 {
    border-bottom: medium none;
    float: left;
    font-weight: bold;
    line-height: 80px;
    padding: 0 0 0 90px;
    width: auto;
}
.webpay {
    padding: 0 160px 0 0;
}
.deco {
    background: none repeat scroll 0 0 #5BC6E8;
    float: left;
    height: 3px;
    width: 100%;
}
.info {
    float: left;
    font-size: 1.4666em;
    margin: 30px 0 30px 13px;
    padding-top: 6px;
    width: 509px;
}
.info label {
    background: url("../images/icons.png") no-repeat scroll -139px -470px rgba(0, 0, 0, 0);
    margin-right: 10px;
    padding: 2px 0 2px 26px;
}
.info a {
    margin-top: -6px;
}
.form_login_tsc {
    position: relative;
}
#login_form {
    float: left;
    width: 450px;
}
#msgbox {
    color: #9B9B9B;
    font-size: 1.2em;
    font-style: italic;
    text-align: right;
}
code {
    font-size: 1em;
}
.error {
    color: #C1C1C1;
    float: left;
    font-style: italic;
    margin: 20px 0;
}
.error p, .errorMulti p, .errorSingle p, .errorMontoFijo p {
    color: #FFFFFF;
    font-size: 12px;
    margin: 0;
    text-align: center;
}
.errorSingle {
    background-color: #359CFE;
    display: none;
    float: left;
    margin: 0 0 10px;
    padding: 3px 0;
    width: 238px;
	position: relative;
    right: -86px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.errorMulti {
    background-color: #359CFE;
    border: 1px dashed #FFFFFF;
    display: none;
    float: left;
    left: 97px;
    margin: 2px 0 0 260px;
    padding: 3px 0;
    width: 238px;
}
.errorMontoFijo {
    background-color: #359CFE;
    border: 1px dashed #FFFFFF;
    display: none;
    float: left;
    left: 97px;
    margin: 2px 0 0 260px;
    padding: 3px 0;
    width: 238px;
}
.errored {
    border: 1px solid #CC0000;
}
.inner-fracaso {
    padding: 0;
}
#fracaso {
    border: 1px solid #CCC;
	float:none;
}
#fracaso th {
    background: none repeat scroll 0 0 #FFEBB6;
    font-size: 1.5em;
    font-weight: bold;
    height: 40px;
}
#contenido-fracaso {
    font-size: 11px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: left;
    width: 460px;
}
#contenido-fracaso p {
    font-weight: bold;
}
#contenido-fracaso ul li {
    margin: 10px 0;
}
span {
    font-size: 0.8em;
    line-height: 100%;
}
dl + dl {
    margin-bottom: 20px !important;
}
.pagos .button-holder { float:left;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12,
.container_16 {
  zoom: 1;
}