
body {
    font: 62.5%/150% Arial,"Helvetica Neue",Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #424343;
    font-weight: 300;
    margin: 0 0 20px;
}
h1 {
    font-size: 2.75em;
}
h2 {
    background-color: #5BC6E8;
    border-bottom: 1px solid #CCCCCC;
    border-top: 5px solid #5BC6E8;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: normal;
    letter-spacing: -0.0666em;
    line-height: 100%;
    margin-bottom: 30px;
    padding: 27px 13px;
}
h2.accesotsc {
    background-color: #5BC6E8;
    border: medium none;
    color: #FFFFFF;
    letter-spacing: -0.01em;
}
h3 {
    float: left;
    font-size: 2.25em;
    padding: 10px 0 3px;
    width: 100%;
}
h3 span {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #CCCCCC;
    float: left;
    margin: -9px 5px 0 0;
}
h4 {
    color: #696969;
    float: left;
    font-size: 1.867em;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}
h5 {
    font-size: 1.75em;
}
h6 {
    font-size: 1.5em;
}
p, ul, ol, dl {
    color: #666666;
    font-size: 1.367em;
    line-height: 150%;
    margin: 0 0 20px;
}
em {
    background-color: #FFEBB6;
    border: 1px solid #E0C479;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    float: left;
    font-size: 1.1em;
    line-height: 123%;
    padding: 5px 10px;
}
pre {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 0 0 20px;
}
code {
    font-family: monospace;
    font-size: 1.367em;
}
